{% extends "master.html" %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Force</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<body>
    <h1>Fit Force - Treine como um herói!</h1>
 
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'dicas_treino' %}">Dicas de Treino</a>
    <a href="{% url 'cadastro_treino' %}">Cadastrar seu treino</a>
    <a href="{% url 'editar_treino' %}">Editar seu treino</a>
    
 
    {% block content %}
    {% endblock %}
   
</body>
</html>

<!DOCTYPE html>
<html lang="pt-br">

</html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Imagem</title>
</head>
<body>
    <h1></h1>
    <img src="https://i.pinimg.com/originals/e6/e2/b7/e6e2b76cbd445fbfed24d319a849af66.jpg" alt="Descrição da imagem">
</body>
</html>
