{% extends "index.html" %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            
            <td>Nome do treino</td>
            <td>Resumo</td>
            <td>Modalidades</td>
            <td>Vantagens</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>Treino cardiovascular</td>
            <td>O treino cardiovascular é uma ótima escolha para quem deseja fortalecer o 
                sistema cardíaco, afinal, os exercícios são feitos 
                para trabalhar músculos e pulmões através de atividades 
                que vão testar a resistência corporal como um todo.</td>
            <td>Caminhada.
                Ciclismo.
                Corrida (rua ou esteira).
                Dança (todos os tipos).
                Exercícios no elíptico.
                Spinning.
                Jump.
                Zumba.
                Entre outros.</td>
            <td>Reforça a musculatura da região (cardio).
                Ótima opção para fazer após a musculação.
                Favorece a queima de gordura.
                Aumenta a disposição e, consequentemente, a produtividade.
                Controla os níveis de estresse e ansiedade.
                Ajuda a diminuir celulites e os níveis de colesterol. </td>
        </tr>
        <tr>
            <td>Treino de definição</td>
            <td>Os treinos de definição são pensados para queimar 
                o máximo possível de gordura entre o músculo e a 
                pele. Assim, é possível ter a definição, objetivo 
                comum quando o atleta almeja estética corporal.</td>
            <td>Afundo
                Agachamento.
                Burpee.
                Exercícios abdominais.
                Prancha.</td>
            <td>Ótimos resultados para quem deseja trabalhar cintura e glúteos.
                Excelente para o fortalecimento cardiorrespiratório.
                Estimula o emagrecimento.
                Ajuda na redução de gordura localizada.</td>
        </tr>
</tbody>
</table>
{% endblock  %}